@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans';
}

:root{
     --color1: #222831;
     --color2: #393E46;
     --color3: #00ADB5;
     --color4: #EEEEEE;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    padding: 5px 0;
    font-weight: bold;
    background-color: var(--color3);
}
section{
    height: 100vh;
}
.voirplus{
    transition: all .5s;
    text-decoration: none;
    color: var(--color2);
}
.voirplus:hover{
    letter-spacing: 1em;
}
.voirplus:active{
    letter-spacing: 2em;
}
#presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: large;
    background-color: var(--color1);
    color: var(--color4);
}
#presentation #text{
    width: 80%;
}
#exp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#exp div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#exp img{
    margin: 10px;
    max-height: 25vh;
    transition: all .5s;
}
#exp img:hover{
    transform: scale(1.2);
}
#exp img:active{
    transform: scale(1.5);
}
#exp p{
    padding: 10px;
    width: 30%;
    height: 50%;
    border-radius: 10px;
    font-size: small;
}
#competence{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--color3);
}
#competence div{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#competence div i{
    text-align: center;
    font-size: 5em;
    margin: 2px;
}
#hobby{
    background-color: var(--color4);
}
footer{
    height: 100px;
    background-color: var(--color2);
}